node_modules/
dist/
www/
.DS_Store
.env
phone

firebase-service-account.json
android/app/google-services.json
ios/App/App/GoogleService-Info.plist

# Android
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/captures/

# iOS
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata
DerivedData/
